
/* PC */
@media (min-width: 1024px) {
    .header .menu-icon{
        display: none;
    }
}

/* Tablet */
@media ((min-width: 740px) and (max-width:1023px)) {
    .header .menu-icon{
        display: none;
    }
}


/* Phone */
@media (max-width: 739px) {
     
    .header{
        overflow: hidden;
    }

    .header .nav{
        display: block;
    }

    .header .nav li{
        display: block;
    }

    .nav li a {
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .nav .subnav {
        /* position: relative; */
        background-image: linear-gradient(0deg, #0F2027, #203A43, #2C5364);
    }

    .subnav li a {
        padding-left: 32px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: white important!;   
    }

    .nav li:hover a {
        color: white;
    }

    .subnav li{
        padding: 4px;
    }

    .nav>li:first-child{
        display: inline-block;
    }

    .header .search-icon{
        display: none;
    } 

    .header .menu-icon{
        position: absolute;
        right: 20px;
        top: 0;
    }

    .slider .text-content {
        display: none;
    }

    .content .member-list {
        padding: 0 32px;
    }  

    .content .mem-img{
        width: 62%;
        border-radius: 50%;
    }
    
    .content .member-items {
        width: 95%;
        margin-bottom: 56px;
    }

    .content .member-items .member-bio {
        width: 66%;
        text-indent: 0;
    }

    .tour-places .place-item {
        width: 95%;
        margin-bottom: 40px;
    }

    .tour-places .place-content {
        padding: 0.15px 20px;
        font-size: 17px;
        height: 332px;
    }

    .tour-places .place-description {
        height: 160px;
    }

    .tour-places .ticket-buybtn {
        width: 100%;
    }

    .two-col {
        width: 100%;
    }

    .contact-band-info{
        margin-bottom: 24px;
    }

    .contact-form .p1 .user-info {
        width: 94%;
    }

    .row {
        margin-left: -8px;
    }

    .contact-form .submit-btn {
        width: 100%;
    }

    .contact-form .sbmit {
        float: initial;
        margin-top: 4px;
    }

    .contact-form .p1 .user-info, .contact-form .p2 .user-info {
        margin-top: 4px;
    }

    .contact-form .row {
        margin-bottom: 0;
    }

    .contact-info .band-information {
        margin-left: 4px;
    }

}